body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#text-box {
    font-size: 24px;
    margin-bottom: 30px;
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    font-size: 18px;
}

.question input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

#email-input {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;  
    border: 1px solid #000;
    border-radius: 5px;
}

#submit-btn, #send-btn {
    font-size: 20px;
    padding: 15px 25px;
    background-color: #ffeb3b;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 8px;  
}

#submit-btn:hover, #send-btn:hover {
    background-color: #ffd600;  
}
